
*{
    box-sizing: border-box;
}

body{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   line-height: 2em; 
}
header{
    border:1px solid black;
    width:100%;
}
h1,h3{
  font-weight: 100;
    text-align: center;
}
ul,li{
    display:inline-block;
    margin: 15px;
    padding:0px 25px;
 
}
nav{
    background: cornflowerblue;
    text-align: center;
}
#footer{
display: list-item;
}

a{
    text-decoration: none;
}
a:hover{
    font-size:1.1em;
    opacity: 50%;
}
main{
display:block;
}
#main-wrapper{
    display: block;
    align-items: center;
    margin: 5em auto;
}
#main-wrapper > div{
display: inline-block;
margin: 5em 7%;
}
#one{
    width:15em;
    height: 15em;
    text-align:center;
    background: orange;
    margin: 1.5em;

}
#two{
    width:15em;
    height: 15em;
    text-align: center; 
    background: peru;
    margin: 0em 1.5em;
  
   

}
#three{
    width:15em;
    height: 15em;
    text-align: center;
    background:fuchsia;
    margin: 1.5em;
   

}

footer{
    box-sizing: border-box;
    width:100%;
    height: 150px;
    background: cornflowerblue;
}

@media all and (max-width:480px){
    body{
        width:100%;
        background: #eeeeee;
        opacity: 50%;
        box-sizing: border-box;
    }
    header{
        box-sizing: border-box;
    }
    li{
        display:block;
    }
    ul,li{
        display:block;
        margin: 5px 0px;
        padding:0px 25px;
     
    } 
     #main-wrapper{
        margin:auto;

    }
    #main-wrapper > div{
        display:block;
        margin:2% auto;
        }        
    
    
}
/*Contact page*/
.container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(100px ,2fr));
    grid-auto-rows: 5fr;
    grid-gap:5px;
    text-align:center;
    font-size: 1.4em;
    color: white;
    margin:2% auto;
    height: 70vh;
}



.container div:nth-child(1), div:nth-child(6), div:nth-child(11), div:nth-child(16), div:nth-child(21), div:nth-child(26) {
    background-color: #B8336A;
}

.container div:nth-child(2), div:nth-child(7),div:nth-child(12), div:nth-child(17), div:nth-child(22), div:nth-child(27) {
    background-color: #726DA8;
}

.container div:nth-child(3), div:nth-child(8),div:nth-child(13), div:nth-child(18), div:nth-child(23), div:nth-child(28) {
    background-color: #7D8CC4;
}

.container div:nth-child(4), div:nth-child(9), div:nth-child(14), div:nth-child(19), div:nth-child(24),div:nth-child(29){
    background-color: #A0D2DB;
}

.container div:nth-child(5), div:nth-child(10), div:nth-child(15), div:nth-child(20), div:nth-child(25),div:nth-child(30) {
    background-color: #C490D1;
}



